/*import, pour pas surchargé le même css avec les mêmes styles*/
/*syles par défauts... navbar et footer*/
@import url(../styles/external-libs/navigation.css);
@import url(../styles/external-libs/footer.css);
@import url(../styles/external-libs/par-défaut.css);
/*et enfin l'animation slide*/
@import url(../styles/external-libs/animation.css);
/*import FONTS*/
@font-face {
    font-family: 'Titre H1';
    src: url('../fonts/panthera.otf');
}
@font-face {
    font-family: 'Titre H2';
    src: url('../fonts/BEYNO.ttf');
}
@font-face {
    font-family: 'Enigme';
    src: url('../fonts/WakandaForever-Regular.ttf');
}
@font-face {
    font-family: 'Texte';
    src: url('../fonts/Cantarell-Regular.ttf');
}

h1{
    font-family: 'Titre H1';
    font-weight: normal;
    font-size: 4.5em;
    color: #DF99F2;
}

h2, h6{
    font-family: 'Titre H2';
    font-weight: normal;
    font-size: 2.3em;
    color: #DF99F2;
}
p{
    font-family: 'Texte';
    font-size: 1.1em;
}
q{
    font-family: 'Texte';
    font-size: 1em;
    font-style: italic;
}

/*biographie*/
h3{
    font-family: 'Texte';
    font-size: 2em;
}

/*formulaire*/
h4{
    font-family: 'Texte';
    font-size: 3em;
    margin: 0;
    padding-bottom: 20px;
}
@media screen and (max-width: 700px){
    h4{
        font-size: 2em;
        margin: 0;
    }
}

@font-face {
    font-family: 'Titre H1';
    src: url('/fonts/panthera.otf');
}
@font-face {
    font-family: 'Titre H2';
    src: url('/fonts/BEYNO.ttf');
}
@font-face {
    font-family: 'Enigme';
    src: url('/fonts/WakandaForever-Regular.ttf');
}
@font-face {
    font-family: 'Texte';
    src: url('/fonts/Cantarell-Regular.ttf');
}

h1{
    font-family: 'Titre H1';
    font-weight: normal;
    font-size: 4.5em;
    color: #DF99F2;
}

h2, h6{
    font-family: 'Titre H2';
    font-weight: normal;
    font-size: 2.3em;
    color: #DF99F2;
}
p{
    font-family: 'Texte';
    font-size: 1.1em;
}
q{
    font-family: 'Texte';
    font-size: 1em;
    font-style: italic;
}

/*biographie*/
h3{
    font-family: 'Texte';
    font-size: 2em;
}

/*formulaire*/
h4{
    font-family: 'Texte';
    font-size: 3em;
    margin: 0;
    padding-bottom: 20px;
}
@media screen and (max-width: 700px){
    h4{
        font-size: 2em;
        margin: 0;
    }
}
/* arrière-plan de tout les page */
body{
    background: url('/images/Allpages/arrière_plan.png') no-repeat;
    background-size: cover;
    font-size: 15px;
    color: white;
    margin: 0;
}
/*style du footer*/
footer{
    background: url('../images/Allpages/back_footer.png') no-repeat;
    background-size: cover;
}
/*Première section*/
#first{
    background: url('../images/Enigme/Pantherenigme1.png') bottom left/50% no-repeat;
    height: 100vh;
}
.titre{
    font-size: 1.4em;
    width: 80%;
}
.defi{
    margin-left: 50%;
    margin-right: 5%;
    padding-top: 5%;
}
.texte{
    background: url('../images/Enigme/Pantherenigme2.png') center/100% no-repeat;
    padding: 5% 10%;
}

/*Séparation entre les deux section*/
.separation img{
    width: 90%;
    margin: 15% 0;
}

/* Second section */
#second {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 0 10px 0 13%;
}

.left {
  width: 35%;
  margin-right: 5%;
}

.right {
  width: 50%;
  margin-left: 5%;
}

button {
  font-family: "texte";
  width: 155px;
  padding: 10px 0;
  border-radius: 38px;
  margin: 7px 0;
  background-color: var(--button);
  border: none;
  cursor: pointer;
  transition: 0.25s all ease-out;
}

button:hover {
  filter: drop-shadow(0 0 7px #F2CEF2);
  color: var(--general);
}

.description {
  text-align: justify;
}

.description h2 {
  text-decoration: underline;
}

.whut {
  font-size: 1.2em;
}

.important {
  font-family: "texte";
  font-size: 0.9em;
}

.enigme input {
  background: transparent;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid var(--button);
  border-radius: 25px;
  max-width: 400px;
  width: 100%;
  color: #F2CEF2;
}

.enigme input::placeholder {
  color: var(--button);
}

.enigme input:focus {
  outline: none;
}

.question {
  margin: 25px 0;
}

.wut {
  font-size: 1.5em;
  word-spacing: 10px;
  color: var(--pinky);
}

.hint {
  text-align: center;
  padding: 120px 5px;
}

.popup {
  z-index: 2;
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  text-align: center;
}

#congratsPopup {
  height: 100vh;
  width: 100vw;
  background-color: rgba(17, 33, 63, 0.368627451);
  backdrop-filter: blur(5px);
}

#secondPopup {
  min-width: 250px;
  width: 30%;
  height: max-content;
  padding: 25px;
  background: linear-gradient(to bottom, var(--button), var(--general));
}

#secondPopup span {
  font-family: "texte";
  font-weight: bold;
  letter-spacing: 2px;
}

#secondPopup .figma {
  display: flex;
  justify-content: center;
  text-align: left;
}

#secondPopup .figma .txt {
  margin-left: 5px;
}

/*responsive*/
@media screen and (max-width: 900px) {
    /*Première section*/
    #first{
        background: url('../images/Enigme/Pantherenigme1.png') top center/60% no-repeat;
    }
    .titre{
        padding-top: 20%;
        font-size: 1.4em;
        width: 60%;
        margin: auto;
        text-align: center;
    }
    .defi{
        margin-left: 0%;
    }
    .texte{
        text-align: center;
        background: url('../images/Enigme/Pantherenigme2.png') center/70% no-repeat;
        padding: 5% 10%;
        margin: 5%;
        font-size: .9em;
    }
    /*seconde partie*/
    #second{
        display: block;
        margin: 5%;
    }
    /*partie gauche*/
    .transcription{
        width: 100%;
    }
    .transcription span{
        font-size: 1.1em;
        padding: 0 5px;
    }
    .par-gauche{
        width: 100%;
    }
    /*partie droite... le savais-tu*/
    .par-droite{
        width: 100%;
    }
    /*Partie droite encore... mais la section réponse*/
    .reponse{
        width: 100%;
    }
}
/**/